#my-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../../resource//images/body-bg.jpeg);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
