@import '../../../../resource/css/variable.scss';
@import '../../../../resource/fonts/fonts.css';

.my-otp-form{
  width:350px;
  height: 350px;
  background-color: $opacity-bg;
  margin:0 auto;
  transform: translate(0,50%);
  
}