.Card-OTP {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 15px;
}

.OTPBtn {
  color: black !important;
}

.Card-OTP input {
  width: 5vw;
  height: 3.5vw;
  text-align: center;
  outline: none;
  border: none;
  box-shadow: 1px 1px 5px gray;
  margin: 0 auto;
}
