.Card-PhoneInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card-PhoneInput input {
  margin-left: 20px;
  height: 45px;
  width: 60%;
  border: none;
  outline: none;
  box-shadow: 1px 1px 5px gray;
  text-align: center;
}

.Card-Checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card-Checkbox input[type="checkbox"] {
  margin-right: 20px;
  transform: scale(1.2);
  padding: 5px;
}
